# Creation of EU capitals dataset

In [1]:
import pandas as pd

capitals = pd.read_csv("datasets/world_capitals.csv")

# Filtering for European capitals
eu_capitals = capitals[capitals["ContinentName"] == "Europe"]

# Selecting relevant columns and renaming them
eu_capitals = eu_capitals[["CapitalName", "CapitalLatitude", "CapitalLongitude"]]
eu_capitals.columns = ["name", "latitude", "longitude"]

# Rounding to the nearest 0.25 degree
eu_capitals["latitude"] = (eu_capitals["latitude"] / 0.25).round() * 0.25
eu_capitals["longitude"] = (eu_capitals["longitude"] / 0.25).round() * 0.25

eu_capitals.head()

                name  latitude  longitude
4          Mariehamn     60.00      20.00
10            Tirana     41.25      19.75
13  Andorra la Vella     42.50       1.50
18           Yerevan     40.25      44.50
21            Vienna     48.25      16.25

In [11]:
print(f"Extracted {len(eu_capitals)} European capitals.")

Extracted 58 European capitals.

In [ ]:
# To save the filtered DataFrame to a new CSV file, uncomment the line below:
#eu_capitals.to_csv("eu_capitals.csv", index=False)